<% if @user.creator_setting&.images&.attached? %>
  <div class="main-view" style="background-images: url('<%= url_for(@user.creator_setting.images[0]) %>');"></div>
<% else %>
  <div class="main-view"></div>
<% end %>

<%= current_user.avatar.present? %>

<div class="user-body-container">
  <div class="flex items-start">
    <div class="avatar-container flex-shrink-0"><%= user_avatar(@user, 180, class:"user-avatar") %></div>
    <div class="user-body-area column flex-1 min-w-0">
      <h1 class="user-name text-2xl font-bold"><%= @user.name %></h1>

      <p class="break-words">
        ここに長い自己紹介が入ります。どんなに長くても、
        flex-1 と min-w-0 のおかげでアバターを潰さず、
        
      </p>
    </div>
  </div>
</div>

<div class="flex space-x-4 mb-7">
  <%= link_to @user.twitter, target: "_blank" do %>
    <i class="fa-brands fa-square-x-twitter text-[clamp(20px,6vw,40px)]"></i>
  <% end if @user.twitter? %>

  <%= link_to @user.pixiv, target: "_blank" do %>
    <i class="fa-brands fa-pixiv text-[#0096FA] text-[clamp(20px,6vw,40px)]"></i>
  <% end if @user.pixiv? %>

  <%= link_to @user.instagram, target: "_blank" do %>
    <i class="fa-brands fa-instagram text-[#C13584] text-[clamp(20px,6vw,40px)]"></i>
  <% end if @user.instagram? %>
</div>

<%= @user.creator_setting&.body %>
<div data-controller="user" class="">
  <nav class="flex">
    <%= link_to "ホーム", user_path(@user),
    class: "user-content-menu",
    data: { 
    user_target: "link",
    action: "click->user#border", 
    turbo_frame: "user_content" } 
    %>

    <%= link_to "ポートフォリオ", user_portfolio_path(@user),
    class: "user-content-menu",
    data: { 
    user_target: "link",
    action: "click->user#border", 
    turbo_frame: "user_content" } 
    %>
    <%= link_to "開催中のリクエスト", user_received_request_path(@user),
    class: "user-content-menu",
      data: { 
    user_target: "link",
    action: "click->user#border", 
    turbo_frame: "user_content" } 
    %>
    <%= link_to "開催中の作成したリクエスト", user_sent_request_path(@user),
    class: "user-content-menu",
      data: { 
    user_target: "link",
    action: "click->user#border", 
    turbo_frame: "user_content" } 
    %>
    <%= link_to "支援中のリクエスト", user_supported_request_path(@user),
    class: "user-content-menu",
      data: { 
    user_target: "link",
    action: "click->user#border", 
    turbo_frame: "user_content" } 
    %>
  </nav>


<%= turbo_frame_tag "user_content" do %>

<div class="flex gap-4">
  <div class="request-box">
    <div class="button" style= "--bg-color: red;">こんにちは</div>
  </div>
  <div class="flex-1">こにこに</div>
</div>
<% end %>
</div>