  <header class="bg-white fixed top-0 left-0 h-25 w-full z-10">
  <div class="flex justify-between container h-full mx-auto items-center">

    <div class="flaag-icon">
      <%= link_to root_path do %>
        <div class="flex-box">
          <%= image_tag "/flaag.png", class: "flaag-image" %>
          <h1 class="flaag-text">Flaag</h1>
        </div>
       <% end %>
    </div>
<% if user_signed_in? %>
  <div class="flex items-center gap-4">

  <%= turbo_stream_from current_user %>
  <div id="notification_bell" class="relative">
  <%= render "notifications/notification_bell", unchecked_count: current_user.received_notifications.where(checked: false).count %>
  </div>
    <nav>
      <ul class="flex">
        <li>リクエストを送るには</li>
        <li>リクエストを探す</li>
        <li><%= link_to "クリエーターを探す", creator_settings_path %></li>
        <li class="ml-4"><%= link_to "リクエストを探す", requests_path %></li>
      </ul>
    </nav>
    <div data-controller="menu" class="relative">
      <div data-action="click->menu#toggle" class="user-avatar-container">
        <%= user_avatar(current_user) %>
      </div>
      <div data-menu-target="panel" class="user-menu hidden">
        <%= render "shared/user_menu" %>
      </div>
    </div>


    
    </div>
    </div>
  <% end %>
  </header>