<%= form_with model: @request, local: true, data: { turbo: false } do |f| %>
<div>
<%= f.label :title %>
<%= f.text_field :title, required: true%>
</div>
<div>
<%= f.label :body %>
<%= f.text_area :body, required: true%>
</div>

<div id="image-preview-container" class="flex flex-wrap gap-4 mb-4">
  <% if @request.request_images.attached? %>
    <% @request.request_images.each do |image| %>
      <%= image_tag image, size: "150x150", class: "object-cover rounded" %>
    <% end %>
  <% end %>
</div>


<div>
<!--id="request_request_images"-->
<%= f.label :request_images, '画像(5MBまで)' %><br>
<!--新規作成か-->
<% if @request.new_record? %>
  <%= f.file_field :request_images, id:"image-upload-field", multiple: true, required: true %>
<% else %>
  <%= f.file_field :request_images, id:"image-upload-field", multiple: true %>
<% end %>
</div>
<div>
<%= f.submit %>
</div>
<% end %>
<script>
  const previewContainer = document.getElementById("image-preview-container")
  document.getElementById("image-upload-field").addEventListener("change", (event) => {
        previewContainer.innerHTML = "";
        const files = event.target.files;
        for (const file of files){
          const imageUrl = URL.createObjectURL(file);
          //前方一致か？
          if (!file.type.startsWith("image/")) continue;
          //imgタグの作成
          const img = document.createElement("img")
          img.src = imageUrl;
          img.style.width = "150px";
          img.style.height = "auto";
          img.style.objectFit = "cover";
          img.classList.add("rounded", "preview-img");
          img.onload = () => {
            URL.revokeObjectURL(imageUrl); 
          };
          previewContainer.appendChild(img)
        }
      });

</script>

