
<%= search_form_for @q, url: requests_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :title_or_search_conf_cont, "タイトル" %>
    <%= f.search_field :title_or_search_conf_cont %>
  </div>

  <div>
    <%= f.submit "検索" %>
  </div>
<% end %>

<div><%= "現在公開されているリクエストはありません" if @requests.blank? %></div>
<% @requests.each do |request| %>
  <li>
  <%= link_to request_path(request) do %>
    <% if request.request_images.attached? %>
      <% request.request_images.each do |request_image| %>
        <%= image_tag request_image %>
      <% end %>
    <% end %>
    <%= request.title %>
    <%= request.body %>
    <%= request.search_conf %>
  <% end %>
  </li>
<% end %>
