

<div class="page-container">
  <%= search_form_for @q, url: requests_path, method: :get, local: true do |f| %>
    <%= f.label :title_or_search_conf_cont, "タイトル", class:"block font-bold text-base"%>
    <div class="flex mb-15">
      <%= f.search_field :title_or_search_conf_cont, class: "border rounded focus:outline-none bg-white w-60 focus:border-gray-300 mr-4" %>
      <%= f.submit "検索", class:"bg-gray-200 px-4 rounded" %>
    </div>
  <% end %>

  <h1 class="title mb-4">開催中のリクエスト</h1>
    <%= render "shared/request_card", requests: @requests %>
</div>
