<h2>掲載中リクエスト一覧</h2>
<% @requests.each do |request| %>
  <%= link_to  request_path(request) do %>
  <div>依頼先:
  <% if request.creator == current_user %>
  自分
  <% else %>
  <%= link_to request.creator.name, user_path(request.creator)%>さん
  <% end %>
  </div>
  <div>状態:
  <%= request.status %>
  </div>
  <div>タイトル:
  <%= request.title %>
  </div>
  <div>内容:
  <%= request.body %>
  </div>
  <div>達成金額:
  <%= request.target_amount %>円
  </div>
  <div>現在の支援額</div>
  <%=request.current_amount%>
 <div>現在の支援者数</div>
 <%=request.support_histories.count%>

  <% if request.request_images.attached? %>
    <% request.request_images.each do |request_image| %>
      <%= image_tag default_image(request_image) %>
    <% end %>
  <%end%>
 <%end%>
<%end%>