<div class="page-container" style="--pt: 20px;">
  <div class="request-top-container">
    <div class="request-left-container">
      <div class="gallery-container" data-controller="gallery">
        <div class="thumbnail-main">
          <%= image_tag default_image(@request.request_images.first), data: { gallery_target: "main" }, class: "card-image request-top-image bg-black"%>
        </div>
        <ul class="thumbnail-list flex gap-2 overflow-x-auto pb-2">
          <% @request.request_images.each do |image| %>
            <li class="thumbnail-container ">
              <%= image_tag default_image(image), class: "thumbnail card-image request-top-image bg-black" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="request-title-container flex justify-center">
        <h1 class="title text-center"><%= @request.title %></h1>
      </div>
    </div>

    <div class="request-right-container">
      <% result_amount = @request.target_amount - @request.current_amount %>
      <% result_supporter = @request.creator.creator_setting.minimum_supporters - @request.supporters_count %>
      <div class="side-info-area">
        <div class="side-info-total flex gap-2 items-center">
          <i class="fa-solid fa-yen-sign"></i>
          <span class="">目標金額まで</span>
        </div>
        <div class="current-amount">
          <% if result_amount > 0 %>
            <%= result_amount %>
            <span class="text-2xl pl-1">円</span>
          <% else %>
            <span class="text-2xl pl-1 text-red-300">SUCCESS</span>
          <% end %>
        </div>
        <div class="request-meter">
          <% amount_percentage = (@request.current_amount.to_f / @request.target_amount * 100) %>
          <p class="success-rate-sp"><%= amount_percentage.round %>%</p>
          <div class="meter">
            <div class="meter-bar" style="width: <%= amount_percentage.clamp(0,100).round(1) %>%;"></div> 
            <p class="success-rate">
              <%= amount_percentage.round %><span class="suffix">%</span>
            </p>
          </div>
        </div>
        <div class="flex gap-2">
          
            <span>支援総額</span><%= @request.current_amount %><span>円</span>

        </div>
        <div class="request-amount-layout">
          <div class="request-amount-container">
            <div class="request-amount-content flex gap-2 items-center">
              <i class="fa-solid fa-users" class=""></i>
              <span>目標支援者数まで</span>
            </div>

            <div class="supporters-count">
              <% if result_supporter > 0 %>
                <%= result_supporter %>
                <span class="text-2xl pl-1">人</span>
              <% else %>
                <span class="text-2xl pl-1 text-red">SUCCESS</span>
              <% end %>
            </div>
            <div class="request-meter">
              <% supporter_percentage = (@request.supporters_count.to_f / @request.creator.creator_setting.minimum_supporters * 100) %>
              <p class="success-rate-sp"><%= supporter_percentage.round %>%</p>
              <div class="meter">
                <div class="meter-bar" style="width: <%= supporter_percentage.clamp(0,100).round(1) %>%;"></div> 
                <p class="success-rate">
                  <%= supporter_percentage.round %><span class="suffix">%</span>
                </p>
              </div>
            </div>
            <div class="flex gap-2">
              <span>総支援者数</span><%= @request.supporters_count %><span>人</span>
            </div>
          </div>
        
          <div class="request-amount-container">
            <div class="request-amount-content flex gap-2 items-center">
              <i class="fa-solid fa-alarm-clock"></i>
              <span>残り期間</span>
            </div>
            <div class="diff">
              <% diff = @request.deadline_at - Time.current.floor %>
              <% days = (diff / 1.day).to_i %>
              <% hours = (diff / 1.hour % 24).to_i %>
              <% minutes = (diff / 1.minute % 60).to_i %>
              
              <% if days > 0 %>
                <%= days %>
                <span class="text-2xl pl-2">日</span>
              <% else %>
                <% if hours > 0 %> 
                  <%= hours %>
                  <span class="text-2xl pl-1">時間</span>
                <% else %>
                  <%= minutes %>
                  <span class="text-2xl pl-1">分</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "支援する", new_request_support_history_path(@request), data: { turbo: false }, class:"button"%>
    </div>

  </div>
  </div>
  <div class="page-container request-body-container" style="">
    <div class="request-top-container">
      <div class="request-left-container">
        <div class="request-body-area" style="margin-bottom: 48px">
          <%= simple_format(@request.body) %>
        </div>
      </div>
      <div class="request-right-container" style="margin-top: -40px;">
        <div class="items-center">
          <i class="fa-solid fa-paintbrush"></i>
          <span>リクエストされたクリエーター</span>
        </div>
        <div class="creator-card">
          <%= link_to @request.creator, class: "creator-card-wrapper" do %>
            <div class="creator-image-area relative">
              <div class="creator-image-container">
                <%= image_tag @request.creator.creator_setting.images[0], class: "card-image", style: "--ratio: 2 / 1;" %>
                <% if @request.creator.creator_setting.published? %>
                  <div class="card-tag-area">
                    <div class="card-tag-container">
                      <div class="tag">募集中</div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="creator-body-area">
              <div class="creator-avatar-container">
                <%= user_avatar(@request.creator, size: 60, class: "creator-avatar-image") %>
              </div>
              <div class="creator-about-container">
                <div class="creator-name font-bold text-lg"><%= @request.creator.name %></div>
                <div class="creator-received-requests"><span class="mr-4">開催中のリクエスト:</span><%= @request.creator.received_requests.size %>件</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

