
<div class="swiper md:h-100">
  <div class="swiper-wrapper">
    <% if @request.request_images.attached? %>
      <% @request.request_images.each do |image| %>
      <div class="swiper-slide"><%= image_tag image, class: "bg-black w-full h-full object-contain select-none",
        draggable: false %></div>
      <% end %>
    <% else %>
    <div class="h-100 w-full flex items-center bg-gray-300 justify-center"><p>画像が読み込めませんでした</p></div>
    <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<p class="mb-4 font-bold text-xl md:text-2xl my-4 text-center"><%=@request.title%></p>
<% percentage = (@request.current_amount.to_f / @request.target_amount * 100) %>

<section class="bg-white rounded shadow-[0_4px_#e4e4e4] p-5 mb-4">
<p class="text-center font-bold">現在の支援総額</p>
<p class="text-center text-2xl font-bold"><%=@request.current_amount%>円</p>
<div class="flex md:text-sm text-xs justify-between">
  <p><%= percentage.round %>%</p>
  <p>
  <% if @request.deadline_at > Time.current %>
    <%= distance_of_time_in_words(Time.current, @request.deadline_at) %>
  <% else %>
    終了
  <% end %>
  </p>
</div>
<div class="w-52 h-4 bg-gray-200 rounded w-full">
  <div class="h-4 bg-green-400 rounded " style="width:<%= percentage.clamp(0,100).round(1) %>%"></div>
</div>
<div class="flex md:text-sm text-xs justify-between">
<p>現在の支援者数 <%=@request.support_histories.distinct.count(:user_id)%> 人</p>
<p>目標金額 <%=@request.target_amount%>円</p>
</div>
</section>


<div class="bg-[#f0f2f4] border border-[#d9dee5] mx-auto text-center max-w-300 rounded p-4 mb-4">
<h4 class="text-base text-orange font-bold">All-or-Nothing方式</h4>
<p>目標金額に達成しなかった場合、全額返金されます</p>
</div>

<div class="flex w-full">
<div class="bg-white p-4 mb-5 basis-2/3"><%=simple_format(@request.body)%></div>

<section class="flex flex-col basis-1/3 p-4">
<% @rewards.each do |reward|%>
  <div class="bg-[#f0f2f4] mb-5 rounded shadow-[0_4px_#e4e4e4]">
  <div class="flex items-center">
    <% if reward.reward_image.attached? %>
      <%= image_tag reward.reward_image.variant(resize_to_fill: [160, 120, { gravity: 'Center' }], 
      format: :jpeg, 
      quality: 85,
      strip: true)%>
    <% else %>
      <div class="flex bg-gray-300 h-10 items-center justify-center"><%= reward.title %></div>
    <% end %>  

    <div class="text-center">
      <h3 class="font-bold text-base"><%=reward.title%></h3>
      <span>支援者数 <%=reward.support_histories.count%>人</span>
      <span>在庫数 <%=(reward.stock) - (reward.support_histories.count) if reward.stock.present? %></span>
      <%=link_to "このリターンを選択する", request_support_histories_path(@request, reward_id: reward.id), class: "inline-block bg-blue-500 rounded text-white py-2 px-4", data: { "turbo-method": :post } %>
  
    </div>
    </div>
    
<div data-controller="toggle">
  <button type="button" data-action="click->toggle#toggle" class="font-bold border-b border-gray-400">
    リターン概要
  </button>
<div data-toggle-target="content" class="hidden"><%=simple_format(reward.body)%></div>
</div>

  </div>
<% end %>
</section>
</div>

<section class="w-full mx-auto text-center rounded shadow-[0_4px_#e4e4e4] bg-white p-5">
<div class="w-70 mx-auto">
<% if current_user.payjp_customer_id.present? %>
  <%= form_with model: [@request, @support_history], local: true, data: { turbo: false } do |f| %>
  <p class="font-bold text-base pb-4">登録カードで支援する</p>
<div class=" mx-auto">
<div class="relative">
<p class="absolute left-2 top-0.5 ">¥</p>
  <%= f.number_field :amount, 
        class: "border border-gray-300 rounded text-right mb-4 w-full focus:outline-none", 
        placeholder: "金額を入力", 
        value: 0, min: 1, required: true %>
</div>
  <%= f.submit "決済", onclick: "return confirm('この金額で支援します。よろしいですか？')",
        class: "inline-block bg-blue-500 py-2 text-white px-8 rounded" %>
</div>
</div>
  <% end %>

<% else %>
  <%= form_with model: [@request, @support_history], local: true, data: { turbo: false } do |f| %>
    <div class="mb-4">
      <%= f.label :amount, "支援金額", class: "text-lg" %>
      <%= f.number_field :amount, value: 0, min: 1, class: "border w-30 mr-1 text-lg rounded text-right", required: true %>円
    </div>

 
    <script
      src="https://checkout.pay.jp/"
      class="payjp-button"
      data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
      data-text="カード情報を入力して支援する"
      data-submit-text="支援を確定する"
    ></script>
    </div>
    
  <% end %>
<% end %>
</div>
</section>
</div>