<div class="page-container request-page-container">

  <div class="request-top-container">
    <div class="request-top-body-container">
      <div>
        <%= image_tag default_image(@request.request_images.first), class: "card-image request-top-image bg-black"%>
      </div>
      <div class="request-title-container flex justify-center">
        <h1 class="title text-center"><%= @request.title %></h1>
      </div>
    </div>
    <div class="request-top-amount-container">
      <div class="flex gap-2">
        <span class="">¥</span>
        <span class="">現在の支援総額</span>
      </div>
      <div class="current-amount">
        <%= @request.current_amount %>
        <span class="text-2xl pl-1">円</span>
      </div>
      <div class="request-meter"></div>
      <div class="flex gap-2">
        <span>達成まで</span>
        <%= @request.target_amount - @request.current_amount %><span>円</span>
      </div>
      <div class="request-amount-content flex gap-2">
        <i class="fa-solid fa-users" class=""></i>
        <span>支援者数</span>
      </div>
      <div class="supporters-count">
        <%= @supporters_count %>
        <span class="text-2xl pl-1">人</span>
      </div>
      <div class="request-amount-content flex gap-2">
        <i class="fa-solid fa-alarm-clock"></i>
        <span>残り期間</span>
      </div>
      <div class="diff flex gap-2">
        <% diff = @request.deadline_at - Time.current.floor %>
        <% days = (diff / 1.day).to_i %>
        <% hours = (diff / 1.hour % 24).to_i %>
        <% minutes = (diff / 1.minute % 60).to_i %>
        
        <% if days > 0 %>
          <div><%= days %><span class="text-2xl pl-1">日</span></div>
        <%end%>
        <% if hours > 0 %>
          <div><%= hours %><span class="text-2xl pl-1">時間</span></div>
        <%end%>
        <% if minutes > 0 %> 
          <div><%= minutes %><span class="text-2xl pl-1">分</span></div>
        <% end %>
      </div>
    </div>
  </div>

</div>