<div class="pt-container" style="--pt:100px">
<div class="layout-form">
  <%= form_with url: contacts_path, local: true do |f| %>
  <h2 class="title title-border">お問い合わせ</h2>

      <div class="form-container">
        <div class="label-container">
          <%= f.label :name do %>
            氏名
              <span class="form-badge">
                必須
              </span>
          <% end %>
        </div>
        <div>
          <%= f.text_field :name,
            placeholder: "山田　太郎",
            required: true,
            class: "input"%>
        </div>
      </div>

      <!-- メールアドレス -->
      <div class="form-container">
        <div class="label-container">
          <%= f.label :email do %>
            返信先メールアドレス
              <span class="form-badge">
                必須
              </span>
          <% end %>
        </div>
        <div>
          <%= f.email_field :email,
            placeholder: "例) example@gmail.com",
            required: true,
            class: "input" %>
        </div>
      </div>
      
      <div class="form-container">
        <div class="label-container">
          <%= f.label :content do %>
            お問い合わせ内容
              <span class="form-badge">
                必須
              </span>
          <% end %>
        </div>
        <div>
          <%= f.text_area :content,
            placeholder: "お問い合わせ内容",
            required: true,
            class: "input-textarea" %>
        </div>
      </div>
      
      <div>
         <%= f.submit "送信", class: "button" %>
      </div>

  <% end %>

    <p style="font-size: 0.9em; color: #7f8c8d; margin-top: 30px;">
    ※入力いただいたメールアドレス宛に、2週間以内に返信いたします。<br>
  </p>
  </div>
</div>


