<div class="login-container">
<div class="layout-signin">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="title signin-title">ログイン</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

      <!-- メールアドレス -->
      <div class="form-container">
        <div class="label-container">
          <%= f.label :email do %>
            メールアドレス
          <% end %>
        </div>
        <div>
          <%= f.email_field :email,
            autofocus: true, 
            autocomplete: "email",
            placeholder: "例) example@gmail.com",
            class: "input" %>
        </div>
      </div>

      
      <div class="form-container">
        <div class="label-container">
          <%= f.label :password do %>
            パスワード
          <% end %>
        </div>
        <div>
          <%= f.password_field :password,
            autocomplete: "current-password",
            placeholder: (@minimum_password_length ? "#{@minimum_password_length}文字以上" : "変更する場合のみ入力"),
            class: "input" %>
        </div>
      </div>

      <div>
         <%= f.submit "ログイン", class: "button", style: "--bg-color: #3c76ff;"%>
      </div>
  <% end %>

  <div class="login-link-container">
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "login-link-underlined" %>
  </div>
</div>

</div>
</div>





      





