<%= form_with url: request_rewards_path(@request), method: :post do |f| %>

  <%= f.fields_for :rewards do |reward_f| %>
    <div>
      <%= reward_f.label :title, "タイトル"%>
      <%= reward_f.text_field :title, required: true, placeholder: "1000円コース：イラストの下書きプレゼント"%>
    </div>
    <div>
      <%= reward_f.label :body,  "リターンの内容" %>
      <%= reward_f.text_area :body, required: true, placeholder: "キャラクター構成案段階での下書きイラストをプレゼントいたします。完成する作品の元となった作者のアイディアが詰まっています。" %>
    </div>
    <div>
      <%= reward_f.label :amount, "価格"%>
      <%= reward_f.number_field :amount, required: true, min:1 %>
    </div>
  <% end %>
  <%= f.submit "確定" %>
<% end %>