<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- 基本設定 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <title>flaag | イラスト クラウドファンディング　絵　ギャラリー</title>
  <meta name="description" content="イラストレーターに少額からイラストを依頼できるイラストクラウドファンディング">

  <!-- Rails -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>

  <!-- Favicon（統一） -->
  <link rel="icon" href="/flaag.png" type="image/png">
  <link rel="apple-touch-icon" href="/flaag.png">

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

  <!-- Tailwind -->
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

  <!-- Application CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- JS -->
  <%= javascript_importmap_tags %>

  <!-- 外部ライブラリ -->
  <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8" defer></script>
  <script src="https://kit.fontawesome.com/9a71256c57.js" crossorigin="anonymous" defer></script>
</head>

<body class="min-h-screen">
  <div data-controller="notification">
    <%= render "shared/header" %>
    <div data-notification-target="list" class="notification-list-panel">
      <%= turbo_frame_tag "notifications_list" do %><% end %>
    </div>
  </div>


      <div data-controller="flash">
        <% flash.each do |key, message| %>
          <div class="flash <%= key %> bg-gray-500 text-white text-base rounded py-2 px-3" style="position: fixed; z-index: 50;"><%= message %></div>
        <% end %>
      </div>
      <%= yield %>

</body>

</html>
